{% extends "layout.html" %}

{% block content %}

<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="text-center h1 text-white bg-primary p-2">Login</div>
    {% include '_messages.html' %}
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}<!-- Poista tämä jos ei enää toimi -->
        <div>
            {{ render_field(form.username, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}

        </div>
        <p><input type=submit value="Login" class="btn btn-info mt-2"></p>
  </form>
</div>
    <div class="col-md-4"></div>
</div>


{% endblock content %}