{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% include '_messages.html' %}
            <div class="col border d-flex align-items-center justify-content-center mt-2 mb-2 bg-dark">
                <h2 class="text-white">Admin Register</h2>
            </div>
        {% from "_formhelpers.html" import render_field %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div>
                {{ render_field(form.name, class="form-control") }}
                {{ render_field(form.username, class="form-control") }}
                {{ render_field(form.email, class="form-control") }}
                {{ render_field(form.password, class="form-control") }}
                {{ render_field(form.confirm, class="form-control") }}
            </div>
            <p><input type=submit value="Register" class="btn btn-outline-dark mt-2"></p>
        </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock content %}