{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-center h1">Register</div>
        {% include '_messages.html' %}
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div>
            {{ render_field(form.name, class="form-control") }}
            {{ render_field(form.username, class="form-control") }}
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
            {{ render_field(form.confirm, class="form-control") }}
        </div>
        <p><input type=submit value="Register" class="btn btn-info mt-2"></p>
    </form>
    </div>
    </div>
    <div class="col-md-4"></div>
</div>


{% endblock content %}