{% extends 'layout.html' %}

{% block content %}

{% include '_messages.html' %}
<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="col border d-flex align-items-center justify-content-center mt-2 mb-2 bg-dark">
            <h1 class="text-white">Update product</h1>
        </div>
        {% from "_formhelpers.html" import render_field %}
        <form action="" method="POST" enctype="multipart/form-data">
            {{ render_field(form.name, class="form-control", placeholder="Update product name") }}
            {{ render_field(form.price, class="form-control", placeholder="Update product price") }}
            {{ render_field(form.discount, class="form-control", placeholder="Update product discount") }}
            {{ render_field(form.stock, class="form-control", placeholder="Update product stock") }}

            <label for="brand">Update brand</label>
            <select name="brand" id="brand" class="form-control" required>
                <option value="{{product.brand_id}}">{{product.brand.name}}</option>
                {% for brand in brands %}
                <option value="{{brand.id}}"> {{brand.name}} </option>
                {% endfor %}
            </select>

            <label for="category">Update category</label>
            <select name="category" id="category" class="form-control" required>
                <option value="{{product.category_id}}">{{product.category.name}}</option>
                {% for category in categories %}
                <option value="{{category.id}}"> {{category.name}} </option>
                {% endfor %}
            </select>

            {{ render_field(form.colors, class="form-control", placeholder="Update product colors") }}
            {{ render_field(form.description, class="form-control", placeholder="Update product details", rows="15") }}

            <button type="submit" class="btn btn-outline-dark mt-2 mb-4">Update Product</button>
            <a href="{{url_for('admin')}}" class="btn btn-outline-danger mt-2 mb-4 float-end"> Cancel</a>

        </form>
    </div>
    <div class="col-md-2"></div>
</div>
</div>
{% endblock content %}