{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include "_messages.html" %}
            {% if updatebrand %}
            <h1 class="text-center mt-5">Update brand</h1>
            <form action="" method="POST">
                <input type="text" name="brand" class="form-control" value="{{ updatebrand.name }}">
                <input type="submit" value="Update brand" class="btn btn-info mt-2"> <a href="{{url_for('brands')}}" class="btn btn-danger mt-2"> Cancel</a>
            </form>
            {% else %}
            <h1 class="text-center mt-5">Update category</h1>
            <form action="" method="POST">
                <input type="text" name="category" class="form-control" value="{{ updatecategory.name }}">
                <input type="submit" value="Update category " class="btn btn-info mt-2"> <a href="{{url_for('category')}}" class="btn btn-danger mt-2"> Cancel</a>
            </form>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock content %}